@page "/countries"


<h3>Países</h3>

@if(countries== null)
{
    <Loading Label="Cargando países, por favor espera..."/>
}
else
{
    <MudTable Items="@countries" Hover="true" Bordered="true" Striped="true">
        <HeaderContent>
            <MudTh>País</MudTh>
        </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Name</MudTd>
            </RowTemplate>
    </MudTable>
}